@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;
  --color-primary: #c6414c;
  --color-secondary: #05b4cd;
}

/* font */
.young-serif-regular {
  font-family: "Young Serif", serif;
  /* font-weight: 400; */
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

/* ------------------------------------------------ */

.navbar a:hover,
.navbar a.active {
  color: var(--color-primary);
}

.navbar a.active {
  font-weight: 500;
}

@utility btn-slide {
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: var(--color-primary);
  color: white;
  border: 1px solid var(--color-primary);
  transition: color 300ms;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms;
  }

  &:hover {
    color: var(--color-primary);
  }

  &:hover::before {
    transform: scaleX(1);
  }
}
