@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.primary {
  background-color: #c6414c;
}

.text-primary {
  color: #c6414c;
}

.navbar a:hover {
  /* font-weight: 500; */
  color: #c6414c;
}
.navbar a:focus {
  font-weight: 500;
  color: #c6414c;
}

.loginLogoutBtn:hover {
  color: white !important;
}

.loginLogoutBtn:focus {
  color: white !important;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  /* font-weight: 400; */
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
