@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.primary {
  background-color: #c6414c;
}

.text-primary {
  color: #c6414c;
}

.navbar a:hover {
  /* font-weight: 500; */
  color: #c6414c;
}
.navbar a:focus {
  font-weight: 500;
  color: #c6414c;
}

.loginLogoutBtn:hover {
  color: white !important;
}

.loginLogoutBtn:focus {
  color: white !important;
}
